.btn-primary{
    border-radius: 5px;
    background-color: #FD6E0A;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}
.section-title{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}
.section-description{
    color: #757575;
    font-size: 18px;
    text-align: center;
}
/*banner related*/
.banner{
    display: flex;
    padding: 0px 35px 0px 200px;
    background:#FFF8F3;
}
.banner-content{
    max-width: 700px;
    margin-right: 50%;
}
.banner-title{
    color: #181818;
    padding-top: 20px;
    text-align: left;
    font-size: 40px;
    font-weight: bold;
}
.banner-description{
    color: #757575;
    font-size: 18px;
    text-align: center;
}

/*featuer section*/
.section-2{
    margin-top: 130px;

}
.feature-container{
    display: flex;
    
}
.feature-flower{
    padding: 0 10px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgb(0, 0, 0,0.06);
    margin-left: auto;
    margin-right: auto;
}
.image-title{
    text-align: center;
    text-decoration: underline;
}
.our-services{
    display: flex;
    background: rgb(245, 235, 235);
    margin-top: 70px;
}
.service-image{
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}
.image-des{
    text-align: center;
    color: #757575;
}

/*discount*/
.discount{
    display: flex;
    padding: 0px 35px 0px 200px;
    background: #FFF8F3;
}
.discount-content{
    position: relative;
}
.discount-title{
    color: #181818;
    padding-top: 120px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.discount-description{
    color: #757575;
    font-size: 18px;
    text-align: center;
}
.discount-btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 210px;
    margin-top: 20px;
}
.discount-image{
    width: 850px;
    height: 650px;
}

/*instragram section*/
.instragram-content{
    display: flex;
}
.instragram-flower{
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        
}

/*form section*/
.form-content{
    background-image: url('images/Rectangle\ 9.png');
    background-repeat: no-repeat;
    background-size: cover;
    
}
.form-title{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    padding-top: 30px;
}
.form-description{
    text-align: center;
    color: #757575;
}
.form-content{
    text-align: center;
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    border-radius: 5px;
    border: 0;
    width: 100%;
}
.btn-form{
    border-radius: 5px;
    background-color: #FD6E0A;
    border: 0;
    color: white;
    font-size: 20px;
    margin-bottom: 25px;
    padding: 14px 35px;
}
.message input{
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    color: #757575;
    border-radius: 5px;
    background: #FFF;
    border: 0;
    display: inline;
    width: 50%;
}

/*footer section*/
.footer-content{
    background-color: black;
}
.footer-title{
    color: white;
    text-align: center;
    padding-top: 30px;
    font-size: 34px;
    font-weight: bold;
}
.footer-description{
    color: white;
    text-align: center;
}
.conclusion{
    color: #757575;
    text-align: center;
    padding-bottom: 40px;
}